<section id="historia">
  <div class="container-fluid padding">
    <div class="row welcome text-center">
      <div class="col-12">
        <h1 class="display-4">nossa história</h1>
      </div>
      <hr>
      <div class="col-12">
        <p class="lead">
          A Casa de Repouso Orlanda tem o objetivo de proporcionar aos hóspedes, um ambiente familiar, de paz, sossego,
          tranquilidade, amor e especialmente carinho. Desenvolvemos atividades para o corpo e mente, com muita diversão, sempre
          ocupando o tempo ao lazer e bem estar, estimulando a vontade de viver. Visamos à integração ao seu novo ambiente de
          vida, com qualidade de vida.
          
          A Orlanda não é um asilo, é uma extensão do seu lar. Os proprietários e gerentes estão á disposição todos os 
          dias para garantir a qualidade no atendimento.
          
          É um local com serviços e profissionais especializados, enfatizando o estado físico e mental do hóspede.
          Apresentamos um estilo jovem de envelhecer, aproveitando tudo o que a vida tem de melhor, de um modo saudável e
          inteligente.
          
          Somos legalizados na Vigilância Sanitária, no Conselho Regional de Medicina, no Corpo de Bombeiros e temos alvará de
          funcionamento, no qual somos fiscalizados em condutas como higiene, estrutura, normas e procedimentos em geral.
          
          Acreditamos que a terceira idade é muito mais do que cabelos brancos.
          
          Sendo assim, apresentamos nosso convite para virem visitar nossa casa para podermos demonstrar nosso trabalho de
          qualidade e carinho.
        </p>
      </div>
    </div>
  </div>
</section>


