<div class="container-fluid padding">
  <div class="row welcome text-center">
    <div class="col-12">
      <h1 class="display-4">sucesso</h1>
    </div>
    <hr>

    <div class="col-12">

      <section id="paciente1">
        <div class="success">
          <div class="row">
            <div class="col-md-12">
              <div class="success-box">
                <div class="col-md-12 col-sm-12">
                  <div class="row">
                    <img src="assets/img/paciente1.png" alt="paciente1">
                    <h5 class="display-5">Laura Souza</h5>
                  </div>
                </div>
                  <p class="lead"><i>
                      "Lorem, ipsum dolor sit amet consectetur adipisicing elit. Sequi,
                      hic iusto nulla minus esse expedita consequatur
                      cupiditate nam magnam modi doloremque alias quidem facilis excepturi?
                      Amet ipsum velit optio similique?"
                    </i></p>
              </div>
            </div>
          </div>
        </div>
      </section>

      <section id="paciente2">
        <div class="success">
          <div class="row">
            <div class="col-md-12">
              <div class="success-box">
                <div class="col-md-12 col-sm-12">
                  <div class="row">
                    <img src="assets/img/paciente2.png" alt="paciente2">
                    <h5 class="display-5">Eva Stuart</h5>
                  </div>
                </div>
                <p class="lead"><i>
                    "Lorem, ipsum dolor sit amet consectetur adipisicing elit. Sequi,
                    hic iusto nulla minus esse expedita consequatur
                    cupiditate nam magnam modi doloremque alias quidem facilis excepturi?
                    Amet ipsum velit optio similique?"
                  </i></p>
              </div>
            </div>
          </div>
        </div>
      </section>

      <section id="paciente3">
        <div class="success">
          <div class="row">
            <div class="col-md-12">
              <div class="success-box">
                <div class="col-md-12 col-sm-12">
                  <div class="row">
                    <img src="assets/img/paciente3.png" alt="paciente3">
                    <h5 class="display-5">José Pinheiro</h5>
                  </div>
                </div>
                <p class="lead"><i>
                    "Lorem, ipsum dolor sit amet consectetur adipisicing elit. Sequi,
                    hic iusto nulla minus esse expedita consequatur
                    cupiditate nam magnam modi doloremque alias quidem facilis excepturi?
                    Amet ipsum velit optio similique?"
                  </i></p>
              </div>
            </div>
          </div>
        </div>
      </section>

      <section id="paciente4">
        <div class="success">
          <div class="row">
            <div class="col-md-12">
              <div class="success-box">
                <div class="col-md-12 col-sm-12">
                  <div class="row">
                    <img src="assets/img/paciente4.png" alt="paciente4">
                    <h5 class="display-5">Altair dos Santos</h5>
                  </div>
                </div>
                <p class="lead"><i>
                    "Lorem, ipsum dolor sit amet consectetur adipisicing elit. Sequi,
                    hic iusto nulla minus esse expedita consequatur
                    cupiditate nam magnam modi doloremque alias quidem facilis excepturi?
                    Amet ipsum velit optio similique?"
                  </i></p>
              </div>
            </div>
          </div>
        </div>
      </section>

      <section id="paciente5">
        <div class="success">
          <div class="row">
            <div class="col-md-12">
              <div class="success-box">
                <div class="col-md-12 col-sm-12">
                  <div class="row">
                    <img src="assets/img/paciente5.png" alt="paciente5">
                    <h5 class="display-5">João Delamar</h5>
                  </div>
                </div>
                <p class="lead"><i>
                    "Lorem, ipsum dolor sit amet consectetur adipisicing elit. Sequi,
                    hic iusto nulla minus esse expedita consequatur
                    cupiditate nam magnam modi doloremque alias quidem facilis excepturi?
                    Amet ipsum velit optio similique?"
                  </i></p>
              </div>
            </div>
          </div>
        </div>
      </section>

      <section id="paciente6">
        <div class="success">
          <div class="row">
            <div class="col-md-12">
              <div class="success-box">
                <div class="col-md-12 col-sm-12">
                  <div class="row">
                    <img src="assets/img/paciente6.png" alt="paciente6">
                    <h5 class="display-5">Vitor Antonio e Maria Vitória</h5>
                  </div>
                </div>
                <p class="lead"><i>
                    "Lorem, ipsum dolor sit amet consectetur adipisicing elit. Sequi,
                    hic iusto nulla minus esse expedita consequatur
                    cupiditate nam magnam modi doloremque alias quidem facilis excepturi?
                    Amet ipsum velit optio similique?"
                  </i></p>
              </div>
            </div>
          </div>
        </div>
      </section>

    </div>

  </div>
</div>
