<div class="container-fluid padding">
  <div class="row welcome text-center">
    <div class="col-12">
      <h1 class="display-4">serviços</h1>
    </div>
    <hr>

    <div class="col-12 services">

      <div class="row">
        <div class="col-md-4">
          <section id="paciente">
            <div class="services-box">
              <i class="icon icon-basic-heart"></i>
              <h5 class="display-5">Nosso Paciente</h5>
              <hr>
              <p class="lead">
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Doloremque velit labore nihil? Labore minima hic
              </p>
            </div>
          </section>
        </div>
        <div class="col-md-4">
          <section id="entrevista">
            <div class="services-box">
              <i class="icon icon-basic-book-pencil"></i>
              <h5 class="display-5">Entrevista</h5>
              <hr>
              <p class="lead">
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Doloremque velit labore nihil? Labore minima hic
              </p>
            </div>
          </section>
        </div>
        <div class="col-md-4">
          <section id="acompanhamento">
            <div class="services-box">
              <i class="icon icon-basic-message-multiple"></i>
              <h5 class="display-5">Acompanhamento</h5>
              <hr>
              <p class="lead">
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Doloremque velit labore nihil? Labore minima hic
              </p>
            </div>
          </section>
        </div>
      </div>

      <div class="row">
        <div class="col-md-4">
          <section id="tratamento">
            <div class="services-box">
              <i class="icon icon-basic-calculator"></i>
              <h5 class="display-5">Tratamento</h5>
              <hr>
              <p class="lead">
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Doloremque velit labore nihil? Labore minima hic
              </p>
            </div>
          </section>
        </div>
        <div class="col-md-4">
          <section id="visitas">
            <div class="services-box">
              <i class="icon icon-basic-chronometer"></i>
              <h5 class="display-5">Visitas</h5>
              <hr>
              <p class="lead">
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Doloremque velit labore nihil? Labore minima hic
              </p>
            </div>
          </section>
        </div>
        <div class="col-md-4">
          <section id="report">
            <div class="services-box">
              <i class="icon icon-basic-todo-txt"></i>
              <h5 class="display-5">Folow Up Report</h5>
              <hr>
              <p class="lead">
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Doloremque velit labore nihil? Labore minima hic
              </p>
            </div>
          </section>
        </div>
      </div>

      <div class="row">
        <div class="col-md-4"></div>
        <div class="col-md-4">
          <section id="saida">
            <div class="services-box">
              <i class="icon icon-basic-case"></i>
              <h5 class="display-5">Saída</h5>
              <hr>
              <p class="lead">
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Doloremque velit labore nihil? Labore minima hic
              </p>
            </div>
          </section>
        </div>
        <div class="col-md-4"></div>
      </div>

    </div>

  </div>
</div>