<nav class="navbar navbar-expand-md navbar-light fixed-top margin">

    <a class="navbar-brand" href="#">
      <img src="assets/img/logo_orlanda.png">
    </a>
    <button
      class="navbar-toggler"
      type="button"
      aria-controls="navbarResponsive"
      [attr.aria-expanded]="!isCollapsed"
      (click)="isCollapsed = !isCollapsed">

      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarResponsive" [ngbCollapse]="isCollapsed">
      <ul class="navbar-nav ml-auto">

        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" id="dropdownHome" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"
            routerLinkActive="active" routerLink="/">Home</a>

          <div class="dropdown-menu" aria-labelledby="dropdownHome">
            <div class="container-fluid">
              <div class="row">

                <div class="col-md-4">
                  <ul class="nav flex-column">
                    <li class="nav-item">
                      <a class="nav-link" routerLink="/" [fragment]="'historia'">História</a>
                    </li>
                  </ul>
                </div>

              </div>
            </div>
          </div>

        </li>

        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" id="dropdownInfo" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"
            routerLink="/informacoes">Informações</a>

          <div class="dropdown-menu" aria-labelledby="dropdownInfo">
            <div class="container-fluid">
              <div class="row">

                <div class="col-md-4">
                  <ul class="nav flex-column">
                    <li class="nav-item">
                      <a class="nav-link" routerLink="/informacoes" [fragment]="'alzheimer'">Alzheimer</a>
                    </li>
                    <li class="nav-item">
                      <a class="nav-link" routerLink="/informacoes" [fragment]="'demencia'">Demência</a>
                    </li>
                    <li class="nav-item">
                      <a class="nav-link" routerLink="/informacoes" [fragment]="'cardiopatia'">Cardiopatia</a>
                    </li>
                  </ul>
                </div>

                <div class="col-md-4">
                  <ul class="nav flex-column">
                    <li class="nav-item">
                      <a class="nav-link" routerLink="/informacoes" [fragment]="'diabetes'">Diabetes</a>
                    </li>
                    <li class="nav-item">
                      <a class="nav-link" routerLink="/informacoes" [fragment]="'osteoporose'">Osteoporose</a>
                    </li>
                    <li class="nav-item">
                      <a class="nav-link" routerLink="/informacoes" [fragment]="'fisioterapia'">Fisioterapia</a>
                    </li>
                  </ul>
                </div>

                <div class="col-md-4">
                  <ul class="nav flex-column">
                    <li class="nav-item">
                      <a class="nav-link" routerLink="/informacoes" [fragment]="'parkinson'">Parkinson</a>
                    </li>
                    <li class="nav-item">
                      <a class="nav-link" routerLink="/informacoes" [fragment]="'depressao'">Depressão</a>
                    </li>
                  </ul>
                </div>

              </div>
            </div>
          </div>

        </li>

        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" id="dropdownServ" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"
            routerLink="/servicos">Serviços</a>

          <div class="dropdown-menu" aria-labelledby="dropdownServ">
            <div class="container-fluid">
              <div class="row">

                <div class="col-md-4">
                  <ul class="nav flex-column">
                    <li class="nav-item">
                      <a class="nav-link" routerLink="/servicos" [fragment]="'paciente'">Nosso Paciente</a>
                    </li>
                    <li class="nav-item">
                      <a class="nav-link" routerLink="/servicos" [fragment]="'entrevista'">Entrevista</a>
                    </li>
                    <li class="nav-item">
                      <a class="nav-link" routerLink="/servicos" [fragment]="'acompanhamento'">Acompanhamento</a>
                    </li>
                  </ul>
                </div>

                <div class="col-md-4">
                  <ul class="nav flex-column">
                    <li class="nav-item">
                      <a class="nav-link" routerLink="/servicos" [fragment]="'tratamento'">Tratamento</a>
                    </li>
                    <li class="nav-item">
                      <a class="nav-link" routerLink="/servicos" [fragment]="'visitas'">Visitas</a>
                    </li>
                    <li class="nav-item">
                      <a class="nav-link" routerLink="/servicos" [fragment]="'report'">Follow Up Report</a>
                    </li>
                  </ul>
                </div>

                <div class="col-md-4">
                  <ul class="nav flex-column">
                    <li class="nav-item">
                      <a class="nav-link" routerLink="/servicos" [fragment]="'saida'">Saída</a>
                    </li>
                  </ul>
                </div>

              </div>
            </div>
          </div>

        </li>

        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" id="dropdownSuc" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"
            routerLink="/sucesso">Sucesso</a>

          <div class="dropdown-menu" aria-labelledby="dropdownServ">
            <div class="container-fluid">
              <div class="row">

                <div class="col-md-4">
                  <ul class="nav flex-column">
                    <li class="nav-item">
                      <a class="nav-link" routerLink="/sucesso" [fragment]="'paciente1'">Laura Souza</a>
                    </li>
                    <li class="nav-item">
                      <a class="nav-link" routerLink="/sucesso" [fragment]="'paciente2'">Eva Stuart</a>
                    </li>
                    <li class="nav-item">
                      <a class="nav-link" routerLink="/sucesso" [fragment]="'paciente3'">José Pinheiro</a>
                    </li>
                  </ul>
                </div>

                <div class="col-md-4">
                  <ul class="nav flex-column">
                    <li class="nav-item">
                      <a class="nav-link" routerLink="/sucesso" [fragment]="'paciente4'">Altair dos Santos</a>
                    </li>
                    <li class="nav-item">
                      <a class="nav-link" routerLink="/sucesso" [fragment]="'paciente5'">João Delamar</a>
                    </li>
                    <li class="nav-item">
                      <a class="nav-link" routerLink="/sucesso" [fragment]="'paciente6'">Vitor Antonio e Maria Vitória</a>
                    </li>
                  </ul>
                </div>

              </div>
            </div>
          </div>

        </li>

        <li class="nav-item">
          <a class="nav-link" routerLink="/contato">Contato</a>
        </li>

        <li class="social">
          <a href="https://www.instagram.com" target="_blank">
            <i class="fab fa-instagram"></i>
          </a>

          <a href="https://www.facebook.com/" target="_blank">
            <i class="fab fa-facebook"></i>
          </a>

          <a href="https://twitter.com" target="_blank">
            <i class="fab fa-twitter"></i>
          </a>
        </li>

      </ul>
    </div>

</nav>
