<div class="container-fluid padding">
  <div class="row welcome text-center">
    <div class="col-12">
      <h1 class="display-4">informações</h1>
    </div>
    <hr>

    <div class="col-12">
      <section id="alzheimer">
        <div class="row info-img">
          <!-- col-sm-6 col-md-3 -->
          <div class="col-md-4 col-sm-12">
            <img src="assets/img/alzheimer.png" alt="alzheimer">
          </div>
          <div class="col-md-8 col-sm-12">
            <h5 class="display-5">Alzheimer</h5>
            <p class="lead">
              O Alzheimer é uma doença neuro-degenerativa que provoca o declínio das funções cognitivas, reduzindo as
              capacidades de
              trabalho e relação social e interferindo no comportamento e na personalidade da pessoa. De início, o paciente
              começa a
              perder sua memória mais recente. Pode até lembrar com precisão acontecimentos de anos atrás, mas esquecer que
              acabou de
              realizar uma refeição.
            </p>
          </div>
        </div>
      </section>
      
      <section id="demencia">
        <div class="row info-img">
          <div class="col-md-8 col-sm-12">
            <h5 class="display-5">Demência</h5>
            <p class="lead">
              O Alzheimer é uma doença neuro-degenerativa que provoca o declínio das funções cognitivas, reduzindo as
              capacidades
              de trabalho e relação social e interferindo no comportamento e na personalidade da pessoa. De início, o paciente
              começa
              a perder sua memória mais recente. Pode até lembrar com precisão acontecimentos de anos atrás, mas esquecer que
              acabou
              de realizar uma refeição.
            </p>
          </div>
          <div class="col-md-4 col-sm-12">
            <img src="assets/img/demencia.png" alt="demencia">
          </div>
        </div>
      </section>
      
      <section id="cardiopatia">
        <div class="row info-img">
          <div class="col-md-4 col-sm-12">
            <img src="assets/img/cardiopatia.png" alt="cardiopatia">
          </div>
          <div class="col-md-8 col-sm-12">
            <h5 class="display-5">Cardiopatia</h5>
            <p class="lead">
              O Alzheimer é uma doença neuro-degenerativa que provoca o declínio das funções cognitivas, reduzindo as
              capacidades
              de trabalho e relação social e interferindo no comportamento e na personalidade da pessoa. De início, o paciente
              começa
              a perder sua memória mais recente. Pode até lembrar com precisão acontecimentos de anos atrás, mas esquecer que
              acabou
              de realizar uma refeição.
            </p>
          </div>
        </div>
      </section>
      
      <section id="diabetes">
        <div class="row info-img">
          <div class="col-md-8 col-sm-12">
            <h5 class="display-5">Diabetes</h5>
            <p class="lead">
              O Alzheimer é uma doença neuro-degenerativa que provoca o declínio das funções cognitivas, reduzindo as
              capacidades
              de trabalho e relação social e interferindo no comportamento e na personalidade da pessoa. De início, o paciente
              começa
              a perder sua memória mais recente. Pode até lembrar com precisão acontecimentos de anos atrás, mas esquecer que
              acabou
              de realizar uma refeição.
            </p>
          </div>
          <div class="col-md-4 col-sm-12">
            <img src="assets/img/diabetes.png" alt="diabetes">
          </div>
        </div>
      </section>
      
      <section id="osteoporose">
        <div class="row info-img">
          <div class="col-md-4 col-sm-12">
            <img src="assets/img/osteoporose.png" alt="osteoporose">
          </div>
          <div class="col-md-8 col-sm-12">
            <h5 class="display-5">Osteoporose</h5>
            <p class="lead">
              O Alzheimer é uma doença neuro-degenerativa que provoca o declínio das funções cognitivas, reduzindo as
              capacidades
              de trabalho e relação social e interferindo no comportamento e na personalidade da pessoa. De início, o paciente
              começa
              a perder sua memória mais recente. Pode até lembrar com precisão acontecimentos de anos atrás, mas esquecer que
              acabou
              de realizar uma refeição.
            </p>
          </div>
        </div>
      </section>
      
      <section id="fisioterapia">
        <div class="row info-img">
          <div class="col-md-8 col-sm-12">
            <h5 class="display-5">Fisioterapia</h5>
            <p class="lead">
              O Alzheimer é uma doença neuro-degenerativa que provoca o declínio das funções cognitivas, reduzindo as
              capacidades
              de trabalho e relação social e interferindo no comportamento e na personalidade da pessoa. De início, o paciente
              começa
              a perder sua memória mais recente. Pode até lembrar com precisão acontecimentos de anos atrás, mas esquecer que
              acabou
              de realizar uma refeição.
            </p>
          </div>
          <div class="col-md-4 col-sm-12">
            <img src="assets/img/fisioterapia.png" alt="fisioterapia">
          </div>
        </div>
      </section>
      
      <section id="parkinson">
        <div class="row info-img">
          <div class="col-md-4 col-sm-12">
            <img src="assets/img/parkinson.png" alt="parkinson">
          </div>
          <div class="col-md-8 col-sm-12">
            <h5 class="display-5">Parkinson</h5>
            <p class="lead">
              O Alzheimer é uma doença neuro-degenerativa que provoca o declínio das funções cognitivas, reduzindo as
              capacidades
              de trabalho e relação social e interferindo no comportamento e na personalidade da pessoa. De início, o paciente
              começa
              a perder sua memória mais recente. Pode até lembrar com precisão acontecimentos de anos atrás, mas esquecer que
              acabou
              de realizar uma refeição.
            </p>
          </div>
        </div>
      </section>
      
      <section id="depressao">
        <div class="row info-img">
          <div class="col-md-8 col-sm-12">
            <h5 class="display-5">Depressão</h5>
            <p class="lead">
              O Alzheimer é uma doença neuro-degenerativa que provoca o declínio das funções cognitivas, reduzindo as
              capacidades
              de trabalho e relação social e interferindo no comportamento e na personalidade da pessoa. De início, o paciente
              começa
              a perder sua memória mais recente. Pode até lembrar com precisão acontecimentos de anos atrás, mas esquecer que
              acabou
              de realizar uma refeição.
            </p>
          </div>
          <div class="col-md-4 col-sm-12">
            <img src="assets/img/depressao.png" alt="depressao">
          </div>
        </div>
      </section>
    </div>
    
  </div>
</div>