<div class="container-fluid">
  <div class="row text-center">
    <div class="col-md-6">
      <hr class="light">
      <h5>Localização</h5>
      <hr class="light">
      <p>100 street name</p>
      <p>City, State, 00000</p>
      <p>555-555-555</p>
    </div>
    <div class="col-md-6">
      <hr class="light">
      <h5>Horários</h5>
      <hr class="light">
      <p>Monday: 9am-5pm</p>
      <p>Saturday: 10am-4pm</p>
      <p>Sunday: closed</p>
    </div>
    <div class="col-12">
      <hr class="light-100">
      <h5>&copy; Orlanda - Casa de Repouso</h5>
    </div>
    <div class="col-12">
      <p>Developed by Thales Leite / Claudinei Nascimento</p>
    </div>
  </div>
</div>