$distance-sides: 12rem;
$height-menu-top: 4.5rem;

$size-text-orlanda: 3rem;
$size-text-title: 2rem;

$color-green: #308252;
$color-green-water: #40e0bb;
$color-green-water-light: lighten($color-green-water, 34%);
$color-green-water-dark: darken($color-green-water, 36%);

$color-white: #fff;
$color-black: #000;

$color-gray: #b4b4b4;
$color-gray-dark: darken($color-gray, 30%);